  
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162313126-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-162313126-1');
    </script>
    
    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    <style>
        .wrapper { max-width: 1600px; }
        iframe { border:none; overflow: hidden; }
        @import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap");
        body { font-family: 'PT Sans', sans-serif; }
        h1, h2, h3, h4, h5, h6,
        .site-title { 
            font-weight: bold;
        }

    </style>
    
    <!-- Ybug code -->
    <script type='text/javascript'>
        (function () {
            window.ybug_settings = {
                "id": "5ymranqjnv"
            };
            var ybug = document.createElement('script');
            ybug.type = 'text/javascript';
            ybug.async = true;
            ybug.src = 'https://widget.ybug.io/button/' + window.ybug_settings.id + '.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ybug, s);
        })();
    </script>
    <!-- Ybug code end -->

  </body>

</html>
